.openSectionDiv {

	.secondDiv {
		display: flex;
		display: ;
		border: 1px solid black;
		width: 800px;
		height: 250px;
		text-align: justify;
		background-color: black;

		h1 {
			color: $yellowColor;
			font-size: $fontSize10;
			font-family: $fontFamily1;
		}

		.secondDivText {
			color: white;
			font-size: $fontSize1;
			font-family: $fontFamilyText;
		}
	}
}

.center {
	background-color: $lightcolor;
	width: 100%;
	height: 90vh;
	border: 1px solid black;
	padding: 20px 40px 80px 160px;
}

.mayorPhoto {}