main {
	height: 87vh;
	font-family: $fontFamilyText;

	.faqH1{
		text-align: center;
		font-family: $fontFamily1;
		color: $purpleColor;
		font-size: 3.5em;
	}
}


.faqH1{
	position: absolute;
			// top: 100px;
			// left: 100px;
			top:150px;
			bottom: auto;
			left: 0;
			right: 0;
			margin: auto;
}

#accordionExample{
	margin-top: 70px;
}



