main {
	height: 87vh;
	font-family: $fontFamilyText;

	.faqH1{
		text-align: center;
		font-family: $fontFamily1;
		color: $purpleColor;
		font-size: 3.5em;
	}
}

#faq-h1-id{
	font-size: 4vw;
	margin-top: 10px;
}

.faqH1{
	position: absolute;
			bottom: auto;
			left: 0;
			right: 0;
			margin: auto;
}

#accordionExample{
	margin-top: 70px;
}

/*********************************************************************************** @Media **************************************************************/

@media (min-width:250px) and (max-width:550px) {}
