header {
	font-size: 1.3em;
}

#navbarNav {
	justify-content: center;
}

@media (min-width:250px) and (max-width:550px) {



	.row {
		display: flex;
		align-items: center;
	}

	.row:nth-child(odd) {
		flex-direction: column;
	}

	.row:nth-child(even) {
		flex-direction: column-reverse;
	}

	.col-8 {
		width: 100% !important;
		margin-top: 30px !important;
	}

	.col-4 {
		width: 100% !important;
	}

}